@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&display=swap');

body {
    height: 100vh;
    background: linear-gradient(45deg, #e9e8e4, #f4f3ec);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 350px;
    height: 730px;
    background-color: #fefdf9;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.2);
}

.fa {
    color: white;
}

.fa-angle-left {
    font-size: 1.5em;
}

span.note {
    font-weight: 600;
    font-size: 2.5em;
    color: #fefdf9;
}

input[type="text"] {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fefdf9;
}

::placeholder {
    color: rgb(254, 253, 249,0.6);
}

div.sign-in-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(to top right, #232529, #7f8084);
}

span.big {
    font-weight: 900;
    font-size: 1.2em;
    color: #fefdf9;
}

span.underline {
    text-decoration: underline;
    font-weight: 900;
    font-size: 0.8em;
    color: #fefdf9;
}